*{
    margin: 0%;
    padding: 0%;
    }
    



body{

    margin: 0;
    
}

#container{

     width: 100vw;
     height: 100vh;
     background: url(img/img-formulario.jpg);
     background-size: cover;
     display: block;
     position: static;
     text-align: center;
     color:black;
     
     
     
     
}
#titulo{
    text-align: center;
    color: #aa2b05;
    font-size: 2em;
    
}
#subtitulo{
    font-size: 20px;
    color: #aa2b05;
    font-weight:600;
}

fieldset{
    border: 1;
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    height: 515px;
    width: 75em;
    text-align: center;
    border-color:black;
    
    
    

    
}
#nome,#cpf,#rg{
    text-align: center;
    margin-top: 2%;
    

}
.campo{
    font-family:serif;
     font-style:normal;
     font-size: 20px;
     font-weight:900;
}
#sexo{
    font-family: serif;
    font-style: normal;
    font-size: 25px;
}
#fm{
    font-family: serif;
    font-style: normal;
    font-size: 21px;
    font-weight:600;
    
}
input{

    border-radius: 5px;
    height: 20px;
    border-color: black;
}
select{
    border-radius: 5px;
    height: 30px;
    border-color: black;
    border-width: 2px;
}
#botao{
    font-size: 20px;
    font-family: serif;  
}
input[type=radio] {
    border: 50px;
    width: 15px;
}