*{
margin: 0%;
padding: 0%;
}

/* Formatação do titulo*/
#titulo{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 10);
    
}
/* Formatação do subtitulo*/
#subtitulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(10, 0, 0);
    margin-left: 0%;

}
/*Borda no fieldset*/
fieldset{

    border: 1;
    border-radius: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

/*Fprmatação de tudo que tem no Body*/
body{
background-color:#daf1ff;
font-family:sans-serif;
font-size: 1em;
color:rgb(0, 0, 0);
margin-top:3%
}

/*Formatação Dados Pessoais*/
#pessoal,#sexo{

    text-align: center;
    margin-top: 2%;
}

/*Formatação Contatos*/

#dados-contato,#contato,#dados-cep,#telefone{

    margin-left: 1%;
    text-align: center;
}

input,select{

    border-radius: 3px;
}

.campo{
    font-family:sans-serif;
    font-size: 20px;    
    
    
}
